<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<div>
			<slot />
		</div>
		
	</body>
</html>

<style>
	@reference 'tailwindcss';
	html{
		font-family: sans-serif,system-ui;
		background: #13151a;
		color: #fff;
	}
	body {
		@apply grid place-items-center p-20;
	}
	body > div {
		@apply container;
	}
</style>
